*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}

header{
    justify-content: center;
    margin: 0 auto ;
    max-width: 900px;
}

body{
    background: linear-gradient(50deg, #3b0000, #000d3b);
    background-attachment: fixed;

    position: relative;
    min-height: 100vh;
}


body::before {
    content: "";
    filter: blur(8px);
    position: fixed;
    bottom: 0vh;
    left: -70vh;
    width: 70%;
    height: 80vh;
    background-image: url('../icons/скомп.png');
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0.1;    
    z-index: -1;    
    pointer-events: none; 
} 

body::after {
    content: "";
    position: fixed;
    right: -70vh;
    bottom: 0vh;
    width: 70%;
    height: 80vh;
    background-image: url('../icons/скомп.png');
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
    filter: blur(8px);
    pointer-events: none;
}

.navbar{
    display: flex;
    gap: 1.2rem;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 1rem;
    min-height: 50px;
    width: max-content;
    margin: 0.7rem auto;
    align-items: center;
    padding: 0 1rem ;
    flex-wrap: wrap;
}

.flex{
    display: flex;
    align-items: center;
}

#id1{
    border:none;
}

main{
    margin: 0 auto;
    max-width: 1300px;
    position: relative;
    
}

li{
    display: flex;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(5px);
}

ul{
    margin: auto 0rem;
    padding: 0.2rem;
    font-family: sans-serif;
    font-size: 0.8rem;
    color: rgb(177, 177, 177);
    border-radius: 0.5rem;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    cursor: pointer;
    user-select: none;
}

a{
    margin: auto 0rem;
    padding: 0.4rem;
    font-family: sans-serif;
    font-size: 0.8rem;
    color: rgb(177, 177, 177);
    border-radius: 0.5rem;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

a:hover{
    background-color: rgb(70, 43, 12);
}

p{
    font-family: sans-serif;
    font-size: 0.8rem;
    color: rgb(177, 177, 177);
    
}

h1{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
    padding: 0 1rem ;
    color: rgb(177, 177, 177);
}

h2{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: rgb(177, 177, 177);
}
.component_box{
    border-radius: 1rem;
    /* border: 1px solid #444444; */
    margin: 10px; 
    padding: 10px; 
    align-items: center;
    width: 100%;
    flex:1;

    position: relative;
    overflow: hidden;
    z-index: 0;
}

.component_box:hover:before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(#000000,   #500000);
    animation: rotate-border 4s linear infinite;
    transition: 0.3s;
}

.component_box:hover:after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 1px; 
    background: #0f0f0f; 
    border-radius: 14px; 
}

@keyframes rotate-border {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.img_component{
    min-width: 100px;
    min-height: 100px;
    width: 10%;
    margin-right: 20px;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.8rem;
    object-fit: contain;
}

.gridComponents{
    margin: 2rem;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
}

button{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: sans-serif;
    min-width: 50px;
    min-height: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.7rem;
    justify-content: center;
    color: rgb(177, 177, 177);
    margin: 0.5rem;
}

.infocomponent{
    background-color: rgb(31, 31, 31);
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin-top: 2rem;
}

.sort{
    padding: 0 0.3rem ;
    margin-top: 1rem;
    background-color: #00000000;
    border-radius: 5rem;
    display: flex;
    overflow-x: auto; 
    /* scroll-snap-type: x mandatory; */
    scrollbar-width: none;
    max-width: 100%;
    border-bottom: 1px solid rgba(177, 177, 177, 0.534);
}

.sortblock{
    margin: 1rem;
    border-radius: 4rem;
    padding: 0.5rem 2rem ;
    min-height: 80px;
    font-family: sans-serif;
    flex: 0 0 220px;           
    scroll-snap-align: start;
    transition: 0.2s;
}

.sortblock:hover{
    background-color: #ffffff0a;
}

.sort::-webkit-scrollbar {
    display: none;
}

.sortimg{
    max-width: 80px;
    max-height: 80px;
    margin:  0.5rem 1.5rem 0rem 2rem;
}

.nav-btn {
    display: none;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 5rem;
    min-width: 50px;
    min-height: 50px;
}

.nav-btn:hover { background: rgba(233, 233, 233, 0.8); }

.prev { left: 5px; }
.next { right: 5px; }


.swipe-container {
    padding: 20px 40px; 
    scroll-behavior: smooth; 
}

.slider-wrapper {
    position: relative;
    display: flex;
    justify-content:center ;
    align-items: center;
    max-width: 1300px;
}

.sortname{
    font-size: 0.9rem;
    text-align: center;
}

#pricebox{
    padding: 1rem;
}

.componentActions{
    display: flex;
    gap: 0.8rem
}

.actions{
    padding: 0.7rem;
    background-color: #622400;
    border-radius: 0.7rem;
    flex:1;
    max-height: 40px;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.actions::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Прячем блик слева за границей */
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right, 
        transparent, 
        rgba(255, 255, 255, 0.3), /* Цвет блика */
        transparent
    );
    transform: skewX(-25deg); /* Наклоняем блик для динамики */
    transition: 0s;
}

.actions:hover::before {
    left: 150%; 
    transition: 1s; 
}

.actions:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    border-color: #666;
}

#description{
    white-space: nowrap;     
    overflow: hidden;       
    text-overflow: ellipsis;
    width: 100%; 
}

.sortByPriceAND{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4rem;
    max-width: 1300px;
    margin: 0 auto ;
    margin-top: 5rem;
    
    border-radius: 5rem;
}

option{
    background-color: rgba(0, 0, 0, 0);
    font-size: 1rem;
    font-family: sans-serif;
    color: rgb(177, 177, 177);
    transition: 0.3s;
}

#sort-select{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1rem;
    font-family: sans-serif;
    color: rgb(177, 177, 177);
    transition: 0.3s;
    margin-right: auto;
}

.submit:active{
    transform: scale(1.1);
}

.search-form{
    display: flex;
    gap: 1rem;
}

.searchField{
    padding: 8px 20px;
    background-color: #3333333d;
    color: rgb(177, 177, 177);
    border-radius: 20px;
    cursor: pointer;
    max-height: 40px;
}

input:focus {
    outline: none;
    border: 2px solid #505050; 
    background-color: #33333386;   
    transition: 0.3s;        
}

.sortblock.activeCategory {
    background-color: rgba(255, 255, 255, 0.1);
}

.modal{
    display: none;
}

.autoris{
    transition: 0.3s;
}

.autoris:hover{
    color: white;
}

