<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конфигуратор | Conputer</title>
    <link rel="stylesheet" href="{% static 'conputer/css/style.css' %}">
    <script src="{% static 'conputer/script/script.js' %}" defer></script>
</head>

<body>
    <header>
        <nav class="navbar" id="id1">
            <h1>PC SHOP CONPUTER</h1>
            <li class="navbar">
                <ul><a href="{% url 'home' %}">Home</a></ul>
                <ul><a href="{% url 'building' %}">Configurator</a></ul>
                <ul><a href="{% url 'build_list' %}">Community</a></ul>
                <ul><a href="{% url 'mybuilds' %}">My builds</a></ul>
                <ul><a href="{% url 'orders_view' %}">Order</a></ul>
            </li>
            <div class="flex">
            {% if user.is_authenticated %}
                <button class="autoris">{{ user.username }}</button>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="autoris">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="autoris" id="regact">Log in</a>
                <a href="{% url 'signup' %}" class="autoris" id="regact">Sign Up</a>
            {% endif %}
            </div>
        </nav>
    </header>


<main class="building">
    <div class="column">
        <form method="GET" action="" class="search-form">
            <input class="searchField marginbottom" type="text" name="q_parts" placeholder="Поиск компонента..." value="{{ query|default:"" }}">
            <button type="submit">Найти</button>
                
        </form>
        {% for item in all_components %}
            <div class="component_box listforbuilding sidebar-card js-build-card" data-id="{{ item.id }}" data-name="{{ item.name }}" style="cursor: pointer;">
                <div class="flex">
                    {% if item.img %}
                        <img src="{{ item.img.url }}" class="img_component">
                    {% else %}
                        <div style="width: 100px; height: 100px; background: #eee; margin-right: 20px;">Нет фото</div>
                    {% endif %}
                    <div>
                        <h2>{{ item.category.name }} {{ item.brand.name }} {{ item.name }}</h2>
                        <div class="smallprice">
                            <p>Стоимость: {{ item.price }} ₽</p>
                        </div>
                    </div>
                        
                        
                </div>
                <div class="infocomponent small">
                    <p id="description">{{ item.description }}</p>
                </div>
            </div>
            {% empty %}
                <p>Компонентов пока нет в базе данных.</p> 
        {% endfor %}
    </div>

    

    <div class="formarea">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="maininfo flex">
            <div>
                <label class="UserComponent">Название сборки:</label>
                <input type="text" name="title" class="searchField" placeholder="Введите название..." value="{{ form.title.value|default:'' }}">
            </div>

            <div id="photopreviewbox">
                <label class="UserComponent">Фото сборки:</label>
                <img id="image-preview" src="#">
            </div>
        </div>
        <div class="flex butcont">
        {% for field in form %}
        {% if field.name != 'title' and field.name != 'user_name' and field.name != 'main_photo' and field.name != 'coollerCase_quantity' and field.name != 'storage_primary_quantity' and field.name != 'storage_second_quantity' %}
        
            <div class="field-container ">
                <div class="UsCompBox">
                    <button type="button" class="formbut" data-field="{{ field.name }}">
                        <span class="label-text">{{ field.label }}</span>
                    </button>
                    <div class="flex">
                        <div class="UserComponent" id="val-{{ field.name }}">Не выбрано</div>
                        {% if field.name == 'coollerCase' %}
                            <input type="number" name="coollerCase_quantity" class="searchField" value="{{ form.coollerCase_quantity.value|default:1 }}" min="1" max="10">
                        {% elif field.name == 'storage_primary' %}
                            <input type="number" name="storage_primary_quantity" class="searchField" value="{{ form.storage_primary_quantity.value|default:1 }}" min="1" max="10">
                        {% elif field.name == 'storage_second' %}
                            <input type="number" name="storage_second_quantity" class="searchField" value="{{ form.storage_second_quantity.value|default:1 }}" min="1" max="10">
                        {% endif %}
                    </div>
                    
                    <div style="display: none;">{{ field }}</div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>

        <div class="photoupload">
            <label for="id_main_photo" class="formaction">
                <span>Загрузить фото сборки</span>
            </label>
    
            <input type="file" name="main_photo" id="id_main_photo" accept="image/*" style="display: none;" onchange="previewImage(this)">

            <button type="submit" class="formaction">Сохранить сборку</button>

            <div class="spacer"></div>

            <button type="submit" class="formaction delete clearBuild">Сбросить сборку</button>
        </div>
        
        </form>
    </div>
</main>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <h2>PC SHOP CONPUTER</h2>
            <p>© 2024 Все права защищены</p>
        </div>
        <ul class="footer-links">
            <li><a href="{% url 'home' %}">Каталог</a></li>
            <li><a href="{% url 'build_list' %}">Сборки</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</footer>
</body>
