<!DOCTYPE html>
{% load static %} 
<link rel="stylesheet" href="{% static 'conputer/css/style.css' %}">

{% load static %}
<link rel="script" href="{% static 'conputer/script/script.js' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conputer</title>
</head>



<body>
    <header>
        <nav class="navbar" id="id1">
            <h1>PC SHOP CONPUTER</h1>
            <li class="navbar">
                <ul>Home</ul>
                <ul>PC components</ul>
                <ul>Community</ul>
                <ul>About</ul>
                <ul>Order</ul>
            </li>
            <div class="flex">
                <button>Log in</button>
                <button>Sign up</button>
            </div>
            
        </nav>
    </header>
    <main>
        <div class="sortByPriceAND">
            <select id="sort-select" onchange="window.location.href = this.value;">
                <option value="?sort=price" {% if current_sort == 'price' %}selected{% endif %}>
                    Сначала дешевле
               </option>
                <option value="?sort=-price" {% if current_sort == '-price' %}selected{% endif %}>
                    Сначала дороже
                </option>
            </select>
            <form method="GET" action="" class="search-form">
                <input class="searchField" type="text" name="q" placeholder="Поиск компонента..." value="{{ query }}">
                <input type="hidden" name="sort" value="{{ current_sort }}">
                <button type="submit">Найти</button>
                
            </form>
        </div>
        

        <div class="slider-wrapper">
            <button class="nav-btn prev" onclick="scrollSlider(-300)">❮</button>
            <div class="sort" id="slider">
                {% for item in categories %}
                    <div class="sortblock">
                        <p class="sortname">{{item.name}}</p>
                        {% if item.img %}
                            <img src="{{ item.img.url }}" class="sortimg">
                        {% else %}
                            <div style="width: 20px; height: 20px; color: #ffffff; margin-right: 20px;">Нет фото</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button class="nav-btn next" onclick="scrollSlider(300)">❯</button>
        </div>
        
        
        
        
        <div class="gridComponents">
            {% for item in components %}
            <div class="component_box">
                <div class="flex">
                    {% if item.img %}
                        <img src="{{ item.img.url }}" class="img_component">
                    {% else %}
                        <div style="width: 100px; height: 100px; background: #eee; margin-right: 20px;">Нет фото</div>
                    {% endif %}

                        <h2>{{ item.category.name }} {{ item.brand.name }} {{ item.name }}</h2>
                </div>
                <div class="infocomponent">
                    <p id="description">{{ item.description }}</p>
                </div>
                <div id="pricebox">
                    <p>Стоимость: {{ item.price }} ₽</p>
                </div>
                <div class="componentActions">
                    <button class="actions" onclick="openModal('{{ item.name }}', '{{ item.description|escapejs }}', '{{ item.price }}', '{{ item.img.url }}')">
                        Подробнее
                    </button>
                    <button class="actions">
                        Добавить в сборку
                    </button>
                </div>
            </div>
            {% empty %}
                <p>Компонентов пока нет в базе данных.</p>
            {% endfor %}
            
        </div>
        
    </main>
</body>
