{% load static %} 
<link rel="stylesheet" href="{% static 'conputer/css/style.css' %}">

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conputer</title>
</head>



<body>
    <header>
        <nav class="navbar">
            <li>
                <ul>Home</ul>
                <ul>Community</ul>
                <ul>About</ul>
                <ul>Order</ul>
            </li>
        </nav>
    </header>
    <main>
        {% for item in components %}
        <div class="component_box">
        
            {% if item.img %}
                <img src="{{ item.img.url }}" class="img_component">
            {% else %}
                <div style="width: 100px; height: 100px; background: #eee; margin-right: 20px;">Нет фото</div>
            {% endif %}

            <div>
                <h2>{{ item.brand.name }} {{ item.name }}</h2>
                <p><strong>Категория:</strong> {{ item.category.name }}</p>
                <p>{{ item.description }}</p>
            </div>
        
        </div>
        {% empty %}
            <p>Компонентов пока нет в базе данных.</p>
        {% endfor %}
    </main>
    
</body>
