<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои сборки | Conputer</title>
    <link rel="stylesheet" href="{% static 'conputer/css/style.css' %}">
    <script src="{% static 'conputer/script/script.js' %}" defer></script>
</head>

<body>
    <header>
        <nav class="navbar" id="id1">
            <h1>PC SHOP CONPUTER</h1>
            <li class="navbar">
                <ul><a href="{% url 'home' %}">Home</a></ul>
                <ul><a href="{% url 'building' %}">Configurator</a></ul>
                <ul><a href="{% url 'build_list' %}">Community</a></ul>
                <ul><a href="{% url 'mybuilds' %}">My builds</a></ul>
                <ul><a href="{% url 'orders_view' %}">Order</a></ul>
            </li>
            <div class="flex">
            {% if user.is_authenticated %}
                <button class="autoris">{{ user.username }}</button>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="autoris">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="autoris" id="regact">Log in</a>
                <a href="{% url 'signup' %}" class="autoris" id="regact">Sign Up</a>
            {% endif %}
            </div>
        </nav>
    </header>
<main>
    <div class="gridComponents gridmybuilds">
        {% for build in builds %}
            <div class="component_box mybuild">
                <div class="flex" id="infomybuild">
                    {% if build.main_photo %}
                        <img src="{{ build.main_photo.url }}" class="img_component">
                    {% else %}
                        <div class="img_component">Нет фото</div>
                    {% endif %}
                    <div>
                        <h2>{{ build.title }}</h2>
                        <p>{{ build.is_published|yesno:"Опубликовано,Черновик" }}</p>
                    </div>
                    <div class="spacer"></div>
                    <a href="{% url 'edit_build' build.id %}" class="action">Изменить</a>
                </div>

                <div class="componentActions">
                    <button class="actions info_btn fixw" data-modal="build-modal-{{ build.id }}">Инфо</button>
                    
                    
                    <form action="{% url 'toggle_publish' build.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="actions fixw">
                            {{ build.is_published|yesno:"Скрыть,Опубликовать" }}
                        </button>
                    </form>
                    <form action="{% url 'add_to_cart' build.id %}" method="POST" style="flex: 1;">
                    {% csrf_token %}
                        <button type="submit" class="actions order_btn" style="background-color: #004d40 ; width: 100%;">
                            В корзину
                        </button>
                    </form>
                    <div class="spacer"></div>
                    <form action="{% url 'delete_build' build.id %}" method="POST" onsubmit="return confirm('Удалить сборку?')">
                        {% csrf_token %}
                        <button type="submit" class="actions fixw delete">Удалить</button>
                    </form>
                </div>
            </div>
            
<div id="build-modal-{{ build.id }}" class="modal-overlay" onclick="closeModal(this)">
    <div class="modal-content build-modal-content" onclick="event.stopPropagation()">
        <span class="close" onclick="closeModal(this.closest('.modal-overlay'))">&times;</span>
        
        <h2 class="modal-title">{{ build.title }}</h2>
        <p>Автор: {{ build.author.username }}</p>
        <hr class="modal-hr">

        <div class="specs-grid">
            <div class="spec-item"><span>Процессор:</span> <strong>{{ build.cpu.name|default:"—" }}</strong></div>
            <div class="spec-item"><span>Видеокарта:</span> <strong>{{ build.gpu.name|default:"—" }}</strong></div>
            <div class="spec-item"><span>Материнка:</span> <strong>{{ build.motherboard.name|default:"—" }}</strong></div>
            <div class="spec-item"><span>Память:</span> <strong>{{ build.ram.name|default:"—" }}</strong></div>
            <div class="spec-item"><span>Блок питания:</span> <strong>{{ build.powerSupply.name|default:"—" }}</strong></div>
            <div class="spec-item"><span>Корпус:</span> <strong>{{ build.case.name|default:"—" }}</strong></div>
            <div class="spec-item"><span>Накопитель 1:</span> <strong>{{ build.storage_primary.name|default:"—" }} ({{ build.storage_primary_quantity }} шт.)</strong></div>
            <div class="spec-item"><span>Накопитель 2:</span> <strong>{{ build.storage_second.name|default:"—" }} ({{ build.storage_second_quantity }} шт.)</strong></div>
            <div class="spec-item"><span>Кулер:</span> <strong>{{ build.cooller.name|default:"—" }} </strong></div>
            <div class="spec-item"><span>Охлаждение корпуса:</span> <strong>{{ build.coollerCase.name|default:"—" }} ({{ build.coollerCase_quantity }} шт.)</strong></div>
        </div>

        <div class="modal-price">
            Итоговая стоимость: <span>{{ build.get_total_price }} ₽</span>
        </div>
    </div>
</div>

        {% endfor %}
    </div>
</main>

<footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <h2>PC SHOP CONPUTER</h2>
               <p>© 2026 Все права защищены</p>
            </div>
            <ul class="footer-links">
                <li><a href="{% url 'home' %}">Каталог</a></li>
                <li><a href="{% url 'build_list' %}">Сборки</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </footer>
</body>